body{
    background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #36454F;
}

h1,h2{
    font-weight: bold;
}

h1{
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 15px;
}

h2{
    margin: 0 0 3px;
    font-size: 30px;
}
.container{
    max-width: 600px;
    margin: 60px auto;
    background: #F8F8FF;
    box-shadow: 10px 10px 26px rgba(13, 57, 249, 0.1);
    padding: 30px;
    border-radius: 10px;
}

select{
    display: block;
    width: 100%;
    padding: 10px;
}

.heading{
    text-align: center;
    padding-top: 15px;
}

.city{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
    padding: 20px 10px;
    border-bottom: 1px dotted gray;
}

.city:last-child{
    border: none;
}

.zoneTime{
    opacity: 0.7;
}
.time, .timeHead{
    font-size: 48px;
    font-weight: bold;
}

footer{
    margin-top: -40px;
    text-align: center;
}